{% extends 'base.html' %}
{% load static %}
{% load user_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="feed_content_grid">
        <div class="feed_grid_cell_add_note">
            {% form_tag form=form type='note' note=note comment=comment %}
        </div>
        <div class="feed_grid_cell_note_list">
            {% if notes %}
                {% for note in notes %}
                    {% post_tag type='note' post=note user=request.user note=note form=form %}
                {% endfor %}
            {% else %}
                No posts here
            {% endif %}
        </div>
    </div>
{% endblock %}