{% load static %}
{% load user_tags %}

<div class="user_{{ type }}">
    <div class="note_info">
        <div class="note_poster_full_name">
            {% if post.user %}
                <a href="{% url 'user_page' user_id=post.user.user_id %}">
                    {{ post.user.first_name }} {{ post.user.last_name }}
                </a>
            {% elif post.community %}
                <a href="{% url 'community_page' community_id=post.community.community_id %}">
                    {{ post.community.name }}
                </a>
            {% endif %}
        </div>
        <div>
            ...
        </div>
    </div>
    <br><div>{{ post.text }}</div><br>
    <div class="note_time">{{ post.publish_time|date:'d-m-Y H:i:s' }}</div>
    {% if post.update_time != post.publish_time %}
        <div class="note_time">Last edited: {{ post.update_time|date:'d-m-Y H:i:s' }}</div>
    {% endif %}
    <br><div class="note_statistics">
            <div class="{{ post_id }}">
                {% if not user in post.liked_by.all %}
                    <img src="{% static 'icons/inactive_like_icon.png' %}"
                         alt="" width="15px" height="15px"
                         class="like_{{ type }}_icon">
                {% else %}
                    <img src="{% static 'icons/active_like_icon.png' %}"
                         alt="" width="15px" height="15px"
                         class="dislike_{{ type }}_icon">
                {% endif %}
                <span>{{ post.likes.all|length }}</span>
            </div>
        {% if type == 'note' %}
            <div>
                <img src="{% static 'icons/comment_icon.png' %}" alt="" width="15px" height="15px" class="comment_icon">
                {{ post.comments.all|length }}
            </div>
            <div>
                Reposts: {{ post.reposts_amount }}
            </div>
        {% elif type == 'comment' %}
            <div>
                <img src="{% static 'icons/reply_icon.png' %}" alt="" width="15px" height="15px" class="reply_icon">
                {{ post.replies.all|length }}
            </div>
        {% endif %}
    </div>
    {% if type != 'reply' %}
        {% if type == 'note' %}
            <br><div class="note_comments">
                {% if post.comments.all %}
                    {% for comment in post.comments.all %}
                        {% post_tag type='comment' post=comment user=user community=community note=post form=form %}
                    {% endfor %}
                {% else %}
                    No comments yet
                {% endif %}
                {% form_tag form=form type='comment' post=post %}
            </div>
        {% elif type == 'comment' %}
           <br><div class="comment_replies">
                {% if post.replies.all %}
                    {% for reply in post.replies.all %}
                        {% post_tag type='reply' post=reply user=user community=community note=note comment=post %}
                    {% endfor %}
                {% else %}
                    No replies yet
                {% endif %}
                {% form_tag form=form type='reply' post=post %}
            </div>
        {% endif %}
    {% endif %}
</div>