{% load static %}

<div class="grid_cell_profile_actions">
    {% if authorised_user_state == 'authorized_user_page' %}
        <div class="grid_cell_profile_actions_profile_picture">
            <a href="{% url 'change_user_profile_picture' %}">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="">
                {% else %}
                    <img src="{% static 'icons/user_icon.png' %}" alt="">
                {% endif %}
            </a>
        </div>
        <a href="{% url 'user_settings' %}">
            <div class="grid_cell_profile_actions_edit_button">Edit</div>
        </a>
    {% else %}
        <div class="grid_cell_profile_actions_profile_picture">
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="">
            {% else %}
                <img src="{% static 'icons/user_icon.png' %}" alt="">
            {% endif %}
        </div>
        {% if authorised_user_state == 'friend_user_page' %}
            <a href="{% url 'create_private_chat' member_id=user.user_id %}">
                <div class="grid_cell_profile_actions_edit_button">Write message</div>
            </a>
            <a href="{% url 'delete_friend' friend_id=user.user_id %}">
                <div class="grid_cell_profile_actions_edit_button">Remove from friends</div>
            </a>
        {% elif authorised_user_state == 'request_await_user_page' %}
            <a href="{% url 'friend_requests_result' user_id=user.user_id result='accept' %}">
                <div class="grid_cell_profile_actions_edit_button">Accept</div>
            </a>
            <a href="{% url 'friend_requests_result' user_id=user.user_id result='reject' %}">
                <div class="grid_cell_profile_actions_edit_button">Reject</div>
            </a>
        {% elif authorised_user_state == 'request_public_user_page' %}
            <a href="{% url 'create_private_chat' member_id=user.user_id %}">
                <div class="grid_cell_profile_actions_edit_button">Write message</div>
            </a>
            <div class="grid_cell_profile_actions_edit_button">Request sent</div>
        {% elif authorised_user_state == 'request_private_user_page' %}
            <div class="grid_cell_profile_actions_edit_button">Request sent</div>
        {% elif authorised_user_state == 'public_user_page' %}
            <a href="{% url 'create_private_chat' member_id=user.user_id %}">
                <div class="grid_cell_profile_actions_edit_button">Write message</div>
            </a>
            <a href="{% url 'add_friend' friend_id=user.user_id %}">
                <div class="grid_cell_profile_actions_edit_button">Add friend</div>
            </a>
        {% elif authorised_user_state == 'private_user_page' %}
            <a href="{% url 'add_friend' friend_id=user.user_id %}">
                <div class="grid_cell_profile_actions_edit_button">Add friend</div>
            </a>
        {% endif %}
    {% endif %}
</div>
