{% extends 'base.html' %}
{% load static %}
{% load user_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="user_page_content_grid">
        {% profile_actions_tag user=user authorised_user_state=authorised_user_state %}
        <div class="grid_cell_personal_data">
            {{ user.first_name }} {{ user.last_name }}
        </div>
        <div class="grid_cell_add_note">
            {% form_tag form=form type='note' note=note comment=comment %}
        </div>
        <div class="grid_cell_note_list">
            {% if notes %}
                {% for note in notes %}
                    {% post_tag type='note' post=note post_id=note.note_id user=request.user form=form %}
                {% endfor %}
            {% else %}
                No posts here
            {% endif %}
        </div>
    </div>
{% endblock %}