{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="user_page_content_grid">
        <div class="grid_cell_profile_actions">
            <div class="grid_cell_profile_actions_profile_picture">
                <img src="{{ user.profile_picture.url }}" alt="">
            </div>
            {% if authorised_user_state == 'authorized_user_page' %}
                <a href="{% url 'user_settings' %}">
                    <div class="grid_cell_profile_actions_edit_button">Edit</div>
                </a>
            {% elif authorised_user_state == 'friend_user_page' %}
                <a href="chat">
                    <div class="grid_cell_profile_actions_edit_button">Write message</div>
                </a>
            {% elif authorised_user_state == 'request_public_user_page' %}
                <a href="chat">
                    <div class="grid_cell_profile_actions_edit_button">Write message</div>
                </a>
                <div class="grid_cell_profile_actions_edit_button">Request sent</div>
            {% elif authorised_user_state == 'request_private_user_page' %}
                <div class="grid_cell_profile_actions_edit_button">Request sent</div>
            {% elif authorised_user_state == 'public_user_page' %}
                <a href="chat">
                    <div class="grid_cell_profile_actions_edit_button">Write message</div>
                </a>
                <a href="{% url 'add_friend' friend_id=user.user_id %}">
                    <div class="grid_cell_profile_actions_edit_button">Add friend</div>
                </a>
            {% elif authorised_user_state == 'private_user_page' %}
                <a href="{% url 'add_friend' friend_id=user.user_id %}">
                    <div class="grid_cell_profile_actions_edit_button">Add friend</div>
                </a>
            {% endif %}
        </div>
        <div class="grid_cell_personal_data">
            {{ user.first_name }} {{ user.last_name }}
        </div>
        <div class="grid_cell_add_note">
            <form method="post">
                {% csrf_token %}
                {{ form.text }}
                {{ form.images }}
                {{ form.videos }}
                {{ form.audios }}
                {{ form.files }}
                <button type="submit">Post</button>
            </form>
        </div>
        <div class="grid_cell_note_list">
            {% if notes %}
                {% for note in notes %}
                    <div>
                        {{ note.text }}
                    </div>
                {% endfor %}
            {% else %}
                No posts here
            {% endif %}
        </div>
    </div>
{% endblock %}