{% extends 'base.html' %}
{% load static %}
{% load user_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="user_page_content_grid">
        {% profile_actions_tag user=user authorised_user_state=authorised_user_state %}
        <div class="grid_cell_personal_data">
            {{ user.first_name }} {{ user.last_name }}
        </div>
        <div class="grid_cell_add_note">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form_error">{{ note_add_form.non_field_errors }}</div>
                <div class="chat_content_grid_cell_write_message_inner_grid">
                    {% attach_content_tag %}
                    {% for field in note_add_form %}
                        <div class="form_error">{{ field.errors }}</div>
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="send_message_button" name="note_btn"></button>
                    <div class="send_message_icon">Post</div>
                </div>
            </form>
        </div>
        <div class="grid_cell_note_list">
            {% if notes %}
                {% for note in notes %}
                    {% note_tag user=user note=note comment_add_form=comment_add_form %}
                {% endfor %}
            {% else %}
                No posts here
            {% endif %}
        </div>
    </div>
{% endblock %}