{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="user_list_content_grid">
        {% if friend_list %}
            <div class="user_list_grid_cell_search_field">Search</div>
            {% for friend in friend_list %}
                <div class="user_list_grid_cell_user_list">
                    {% if friend.profile_picture %}
                        <img src="{{ friend.profile_picture.url }}" alt="">
                    {% endif %}
                    {{ friend.first_name }} {{ friend.last_name }}
                </div>
            {% endfor %}
        {% else %}
            <div class="feed_grid_cell_search_field">You have no friends yet</div>
        {% endif %}
    </div>
{% endblock %}