{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="user_list_content_grid">
        <div class="user_list_grid_cell_search_field">Search</div>
        {% if friend_requests %}
            {% for request in friend_requests %}
                {% with request.from_user as user %}
                    <div class="user_list_grid_cell_user_list">
                        <div class="user_request_cell">
                            <a href="{% url 'user_page' user_id=user.user_id %}">
                            {% if user.profile_picture %}
                                <img src="{{ user.profile_picture.url }}" alt="" height="50px" width="50px" class="preview_picture">
                            {% else %}
                                <img src="{% static 'icons/user_icon.png' %}" alt="" height="50px" width="50px" class="preview_picture">
                            {% endif %}
                            </a>
                            <a href="{% url 'user_page' user_id=user.user_id %}">
                                <div class="note_poster_full_name">
                                {{ user.first_name }} {{ user.last_name }}
                                </div>
                            </a>
                            <a href="{% url 'friend_requests_result' user_id=user.user_id result='accept' %}">
                                <div class="grid_cell_profile_actions_edit_button">Accept</div>
                            </a>
                            <a href="{% url 'friend_requests_result' user_id=user.user_id result='reject' %}">
                                <div class="grid_cell_profile_actions_edit_button">Reject</div>
                            </a>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        {% else %}
            You have no friend requests yet
        {% endif %}
    </div>
{% endblock %}