{% extends 'base.html' %}
{% load static %}
{% load community_tags %}
{% load user_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="user_page_content_grid">
        {% community_actions_tag community=community community_state=community_state %}
        <div class="grid_cell_personal_data">
            {{ community.name }}
        </div>
        <div class="grid_cell_add_note">
            {% form_tag form=form type='note' note=note comment=comment %}
        </div>
        <div class="grid_cell_note_list">
            {% if notes %}
                {% for note in notes %}
                    {% post_tag type='note' post=note user=request.user community=community note=note form=form %}
                {% endfor %}
            {% else %}
                No posts here
            {% endif %}
        </div>
    </div>
{% endblock %}
