{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% load chat_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{#    <script src="{% static 'chat_ajax.js' %}"></script>#}
    <div class="chat_content_grid">
        <div class="chat_content_grid_cell_companion_data">
            {% if request.user != chat.member_1 %}
                    <a href="{% url 'user_page' user_id=chat.member_1.user_id %}">
                        <img src="
                        {% if chat.member_1.profile_picture %}
                            {{ chat.member_1.profile_picture.url }}
                        {% else %}
                            {% static 'icons/user_icon.png' %}
                        {% endif %}
                        " alt="" height="40px" width="40px" class="preview_picture">
                    </a>
                <a href="{% url 'user_page' user_id=chat.member_1.user_id %}">
                    {{ chat.member_1.first_name }} {{ chat.member_1.last_name }}
                </a>
            {% else %}
                <div><a href="{% url 'user_page' user_id=chat.member_2.user_id %}">
                    <img src="
                    {% if chat.member_2.profile_picture %}
                        {{ chat.member_2.profile_picture.url }}
                    {% else %}
                        {% static 'icons/user_icon.png' %}
                    {% endif %}
                    " alt="" height="40px" width="40px" class="preview_picture">
                </a></div>
                <div><a href="{% url 'user_page' user_id=chat.member_2.user_id %}">
                    {{ chat.member_2.first_name }} {{ chat.member_2.last_name }}
                </a></div>
            {% endif %}
        </div>
        <div class="chat_content_grid_cell_messages">
            {% if chat.messages.all %}
                {% for message in chat.messages.all %}
                    {% if message.sender == request.user %}
                        {% current_user_message_tag message=message chat=chat %}
                    {% else %}
                        {% other_user_message_tag message=message chat=chat %}
                    {% endif %}
                {% endfor %}
            {% else %}
                No messages yet
            {% endif %}
        </div>
        <div class="chat_content_grid_cell_write_message">
            {% form_tag form=form type='message' %}
        </div>
    </div>
{% endblock %}
