{% extends 'base.html' %}

{% load chat_tags %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="user_list_content_grid">
        <div class="user_list_grid_cell_search_field">
            <input type="text" name="search_text">
        </div>
        <div class="chat_type_filter"><ul>
            <li class="chat_type_filter_selected">All</li>
            <li>Private</li>
            <li>Group</li>
        </ul></div>
        <div class="chat_list_cell">
            {% if chats %}
                {% for chat in chats %}
                    {% chat_min_tag chat=chat request=request private_chats=private_chats group_chats=group_chats %}
                {% endfor %}
            {% else %}
                No chats yet
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('.chat_type_filter').on('click', 'ul > li', function () {
                if ($(this).attr('class') != 'chat_type_filter_selected') {
                    $('.chat_type_filter > ul > li').attr('class', null)
                    $(this).attr('class', 'chat_type_filter_selected')
                    $.ajax({
                        type: 'GET',
                        url: `{% url 'get_chats' %}`,
                        data: {'filter': $(this).text().toLowerCase()},
                        success: function (response) {
                            $('.chat_list_cell').replaceWith(
                                `<div class="chat_list_cell">${response.chats}</div>`
                            )
                        },
                        error: function (response) {
                            alert('error')
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}