{% load static %}

<div class="chat_current_user_message">
    <div class="message_info">
        <div>{{ message.text }}</div>
        <div class="message_edit">...
            <ul class="message_edit_menu">
                <li>
                    <img src="{% static 'icons/reply_icon.png' %}"
                         alt="" width="20px" height="20px"
                         class="message_{{ message.message_id }}_reply_icon">
                </li>
                <li>
                    <img src="{% static 'icons/forward_icon.png' %}"
                         alt="" width="20px" height="20px"
                         class="message_{{ message.message_id }}_forward_icon">
                </li>
                <li>
                    <img src="{% static 'icons/edit_icon.png' %}"
                         alt="" width="20px" height="20px"
                         class="message_{{ message.message_id }}_edit_icon">
                </li>
                <li>
                    <img src="{% static 'icons/delete_icon.png' %}"
                         alt="" width="20px" height="20px"
                         class="message_{{ message.message_id }}_delete_icon">
                </li>
            </ul>
        </div>
    </div>
    <div class="message_time">{{ message.publish_time|date:'d-m-Y H:i:s' }}</div>
    {% if message.update_time != message.publish_time  %}
        <div class="message_time">{{ message.update_time|date:'d-m-Y H:i:s' }}</div>
    {% endif %}
    <script>
        // Message edit get request
        $('.chat_content_grid_cell_messages').on('click', '.message_{{ message.message_id }}_edit_icon', function (){
            $.ajax({
                type: 'GET',
                url: `{% url 'private_chat_edit_message' chat_id=chat.chat_id message_id=message.message_id %}`,
                data: {},
                success: function (response) {
                    let message = $('.message_{{ message.message_id }}_edit_icon')
                        .parent().parent().parent().parent().parent()
                    message.replaceWith(
                        `<div class="chat_current_user_message">
                            <div class="edit_message_block"><img src="{% static 'icons/cancel_icon.png' %}"
                            alt="" class="edit_cancel_icon" height="15px" width="15px">
                            ${response.form}</div>
                         </div>`
                    )
                    $('.chat_current_user_message form').attr('class', 'edit_form')
                    $('.edit_form button').attr('name', 'message_edit_btn')
                },
                error: function (response) {
                    alert('error')
                }
            })
        })
    </script>
</div>
<script>
    // Canceling message edit
    if ($('.edit_cancel_icon')) {
        $('.content').on('click', '.edit_cancel_icon', function() {
            $.ajax({
                type: 'GET',
                url: `{% url 'get_message' chat_id=chat.chat_id message_id=message.message_id %}`,
                data: {},
                success: function (response) {
                    $('.edit_form').parent().parent().replaceWith(response.message)
                },
                error: function (response) {
                    alert('error')
                },
            })
        })
    }
</script>
