/*General settings*/
html, body {
    background: rgb(39, 40, 34);

    padding: 0 0;
    margin: 0 0;

    font-family: "SF UI Display";
}

/*Links format*/
a, a:active, a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;

    transition: color 0.7s;
}

a:hover {
    color: rgb(150, 150, 150);
}

/*Unorganised lists format*/
ul li {
    list-style: none;
}

/*Textarea format*/
textarea {
    outline: none;
    resize: none;
    overflow: hidden;

    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: "SF UI Display";
    font-size: 16px;

    width: 100%;
}

/*Upper navigation panel with drop-down main menu,
audio player and settings button*/
.navigation_bar_upper {
    position: fixed;
    display: flex;

    background: rgba(19, 20, 14, 0.8);
    backdrop-filter: blur(7px);
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 50px;
    min-height: 20px;
    max-height: 50px;

    z-index: 2;
}

/*Upper navigation bar inner unorganized list*/
.navigation_bar_upper_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-width: 300px;

    width: 100%;
    padding: 0 34%;

    color: white;
}

/* Upper navigation bar inner unorganized list element*/
.navigation_bar_upper_list li {
    list-style: none;
}

/*Main content block, placed on any page*/
.content {
    display: flex;
    position: absolute;
    align-self: center;

    width: 100%;
    height: auto;
}

.user_page_content_grid {
    display: grid;
    position: absolute;

    color: white;

    margin: 4% 34% 6% 34%;
    width: 32%;
    height: auto;
    padding: 0 0 0 0;
    min-width: 120px;
    min-height: 390px;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 20px 20px;
}

/*Profile actions cell, containing profile picture
and edit/subscribe/add friend buttons*/
.grid_cell_profile_actions {
    /*width: 100%;*/
    /*height: 100%;*/
    background: rgb(60, 60, 60);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*Profile picture cell*/
.grid_cell_profile_actions_profile_picture {
    padding: 20px 20px 20px 20px;

    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: -20px -20px -20px -20px;
}

/*Profile picture image*/
.grid_cell_profile_actions_profile_picture img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/*Edit/subscribe/add friend buttons*/
.grid_cell_profile_actions_edit_button {
    background: rgb(90, 90, 90);
    border-radius: 10px;
    padding: 10px;
    margin: 15% 0 0 0;
    text-align: center;

    transition: background 0.7s;
}

/*Button animation*/
.grid_cell_profile_actions_edit_button:hover {
    background: rgb(100, 100, 100);
}

/*Personal user data cell*/
.grid_cell_personal_data {
    /*width: 100%;*/
    /*height: 100%;*/
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

/*Add note cell, containing add note form*/
.grid_cell_add_note {
    /*width: 100%;*/
    /*height: auto;*/
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

/*Note list cell, containing list of notes*/
.grid_cell_note_list {
    /*width: 100%;*/
    /*height: auto;*/

    min-width: 278px;

    background: rgb(50, 50, 50);

    border-radius: 10px;

    padding: 20px 20px 20px 20px;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.feed_content_grid {
    display: grid;
    position: absolute;

    color: white;

    margin: 5% 34% 5% 34%;
    width: 32%;
    height: 100%;
    padding: 0 0;
    min-width: 120px;
    min-height: 390px;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 35px 35px;
}

.feed_grid_cell_add_note {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.feed_grid_cell_note_list {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.user_list_content_grid {
    display: grid;
    position: absolute;

    color: white;

    margin: 5% 34% 5% 34%;
    width: 32%;
    height: 100%;
    padding: 0 0;
    min-width: 120px;
    min-height: 390px;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 35px 35px;
}

.user_list_grid_cell_search_field {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.user_list_grid_cell_user_list {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.form_content_grid {
    display: grid;
    position: absolute;

    color: white;

    margin: 5% 34% 5% 34%;
    width: 32%;
    height: 100%;
    padding: 0 0;
    min-width: 120px;
    min-height: 390px;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 35px 35px;
}

.chat_content_grid {
    display: grid;
    position: absolute;

    color: white;

    margin: 5% 34% 5% 34%;
    width: 32%;
    height: auto;
    padding: 0 0;
    min-width: 120px;
    min-height: 390px;

    grid-template-columns: 1fr;
    grid-template-rows: 40px auto auto;
    grid-gap: 15px 35px;
}

.chat_content_grid_cell_companion_data {
    display: flex;
    flex-direction: row;
    justify-content: left;

    width: 100%;

    background: rgb(50, 50, 50);

    border-radius: 10px;
    padding: 20px 20px 20px 20px;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.chat_content_grid_cell_messages {
    width: 100%;

    background: rgb(50, 50, 50);

    border-radius: 10px;
    padding: 20px 20px 20px 20px;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.chat_content_grid_cell_write_message {
    width: 100%;

    background: rgb(50, 50, 50);

    border-radius: 10px;
    padding: 20px 20px 20px 20px;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#id_images, #id_videos, #id_audios, #id_files, .send_message_button, #note_id {
    display: none;
}

#attach {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.attach_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;

    background: rgb(50, 50, 50);
    border-radius: 10px;

    visibility: hidden;
    transform: translate(0, -100%);
    transition: 0.3s;
}

.chat_content_grid_cell_write_message_inner_grid {
    display: flex;

    color: white;

    width: 100%;
    height: auto;
    padding: 0 0;

    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
}

.send_message_icon {
    cursor: pointer;
}

.chat_current_user_message {
    height: auto;

    background: rgb(70, 70, 70);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;

    font-size: 14px;
}

.message_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.message_sender_full_name {
    font-weight: bold;
}

.message_time {
    font-size: 10px;
}

.message_edit {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.message_edit_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;

    background: rgb(50, 50, 50);
    border-radius: 10px;

    visibility: hidden;
    transform: translate(0, -100%);
    transition: 0.3s;
}

.user_note {
    background: rgb(70, 70, 70);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;

    font-size: 16px;
}

.note_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.note_poster_full_name {
    font-weight: bold;
}

.note_time {
    font-size: 10px;
}

.note_edit {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.note_edit_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;

    background: rgb(50, 50, 50);
    border-radius: 10px;

    visibility: hidden;
    transform: translate(0, -100%);
    transition: 0.3s;
}

.note_statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note_comments {
    display: none;
    padding: 20px 20px 20px 20px;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    max-height: 0;

    background: rgb(50, 50, 50);
    border-radius: 10px;

    font-size: 14px;

    visibility: hidden;
    /*transform: translate(0, -105%);*/
    transition: 0.7s;
}

.note_comments_displayed {
    display: grid;
    padding: 20px 20px 20px 20px;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    background: rgb(50, 50, 50);
    border-radius: 10px;

    font-size: 14px;
}

.user_comment {
    padding: 20px 20px 20px 20px;

    background: rgb(60, 60, 60);
    border-radius: 10px;
}

.comment_replies {
    display: none;
    padding: 20px 20px 20px 20px;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    max-height: 0;

    background: rgb(70, 70, 70);
    border-radius: 10px;

    font-size: 14px;

    visibility: hidden;
    transition: 0.7s;
}

.user_reply {
    padding: 20px 20px 20px 20px;

    background: rgb(80, 80, 80);
    border-radius: 10px;
}

.comment_replies_displayed {
    display: grid;
    padding: 20px 20px 20px 20px;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    background: rgb(50, 50, 50);
    border-radius: 10px;

    font-size: 14px;
}