/*General settings*/
html, body {
    background: rgb(39, 40, 34);

    padding: 0 0;
    margin: 0 0;

    font-family: "SF UI Display";
}

/*Links format*/
a, a:active, a:visited {
    color: white;
    text-decoration: none;
}

/*Unorganised lists format*/
ul li {
    list-style: none;
}

/*Textarea format*/
textarea {
    outline: none;
    resize: none;
    border: none;
    overflow: no-display;

    background: rgba(0, 0, 0, 0);
    color: white;

    width: 100%;
}

/*Upper navigation panel with drop-down main menu,
audio player and settings button*/
.navigation_bar_upper {
    position: fixed;
    display: flex;

    background: rgba(19, 20, 14, 0.8);
    backdrop-filter: blur(7px);
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 50px;
    min-height: 20px;
    max-height: 50px;

    z-index: 2;
}

/*Upper navigation bar inner unorganized list*/
.navigation_bar_upper_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding: 0 34%;

    color: white;
}

/* Upper navigation bar inner unorganized list element*/
.navigation_bar_upper_list li {
    list-style: none;
}

/*Main content block, placed on any page*/
.content {
    display: flex;
    position: absolute;
    align-self: center;

    width: 100%;
}

.user_page_content_grid {
    display: grid;
    position: absolute;

    color: white;

    margin: 5% 34% 5% 34%;
    width: 32%;
    height: 100%;
    padding: 0 0;
    min-width: 120px;
    min-height: 390px;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-gap: 35px 35px;
}

/*Profile actions cell, containing profile picture
and edit/subscribe/add friend buttons*/
.grid_cell_profile_actions {
    width: 100%;
    height: 100%;
    background: rgb(60, 60, 60);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*Profile picture cell*/
.grid_cell_profile_actions_profile_picture {
    padding: 10px 10px 10px 10px;

    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: -10px -10px -10px -10px;
}

/*Profile picture image*/
.grid_cell_profile_actions_profile_picture img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/*Edit/subscribe/add friend buttons*/
.grid_cell_profile_actions_edit_button {
    background: rgb(90, 90, 90);
    border-radius: 10px;
    padding: 10px;
    margin: 15% 0 0 0;
    text-align: center;

    transition: background 0.7s;
}

/*Button animation*/
.grid_cell_profile_actions_edit_button:hover {
    background: rgb(100, 100, 100);
}

/*Personal user data cell*/
.grid_cell_personal_data {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

/*Add note cell, containing add note form*/
.grid_cell_add_note {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

/*Note list cell, containing list of notes*/
.grid_cell_note_list {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.feed_content_grid {
    display: grid;
    position: absolute;

    color: white;

    margin: 5% 34% 5% 34%;
    width: 32%;
    height: 100%;
    padding: 0 0;
    min-width: 120px;
    min-height: 390px;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 35px 35px;
}

.feed_grid_cell_add_note {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.feed_grid_cell_note_list {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.user_list_content_grid {
    display: grid;
    position: absolute;

    color: white;

    margin: 5% 34% 5% 34%;
    width: 32%;
    height: 100%;
    padding: 0 0;
    min-width: 120px;
    min-height: 390px;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 35px 35px;
}

.user_list_grid_cell_search_field {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.user_list_grid_cell_user_list {
    width: 100%;
    height: 100%;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.form_content_grid {
    display: grid;
    position: absolute;

    color: white;

    margin: 5% 34% 5% 34%;
    width: 32%;
    height: 100%;
    padding: 0 0;
    min-width: 120px;
    min-height: 390px;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 35px 35px;
}

.chat_content_grid {
    display: grid;
    position: absolute;

    color: white;

    margin: 5% 34% 5% 34%;
    width: 32%;
    height: 100%;
    padding: 0 0;
    min-width: 120px;
    min-height: 390px;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 35px 35px;
}


